form{
margin: 40px auto;
width: 400px;
}
input{
	padding: 10px;
	font-size: inherit; }
input[type="text"]{
	display: block;
	margin-bottom: 20px;
	width: 400px;
	border: 2px solid steelblue;
	background: #ffff9c;  }
input[type="number"]{
	display: block;
	margin-bottom: 20px;
	width: 400px;
	border: 2px solid steelblue;
	background: #ffff9c;  }
input[type="email"]{
	display: block;
	margin-bottom: 20px;
	width: 400px;
	border: 2px solid steelblue;
	background: #ffff9c;  }
input[type="submit"]{
	width: 344px;
	height: 45px;
	border:none;
	background: steelblue;
	color:white  }
select{
	display: block;
	padding: 10px;
	font-size: inherit;
	margin-bottom: 20px;
	width: 400px;
	border: 2px solid steelblue;
	background: #ffff9c;  }
input[type="date"]{
	display: block;
	margin-bottom: 20px;
	width: 400px;
	border: 2px solid steelblue;
	background: #ffff9c; }
input:focus{
	background: white; }
select:focus{
	background: white; }
